# Copy this file to .env in project root and fill in your actual secrets
KOGO_LIST_BOT_API_TOKEN="Paste your bot api token here"

KOGO_LIST_BOT_DB_NAME="database name"
KOGO_LIST_BOT_DB_USERNAME="user name"
KOGO_LIST_BOT_DB_PASSWORD="Your actual password"
KOGO_LIST_BOT_DB_HOST="127.0.0.1 or not"
